POSTGRES_PASSWORD=your_postgres_password_here
SECRET_KEY=your_secret_key_here
TOKEN_JESS_BOFA=token_xxx
TOKEN_JESS_CAPONE=token_xxx
TOKEN_SAM_BOFA=token_xxx
TOKEN_SAM_AMEX=token_xxx
TOKEN_SAM_CAPONE=token_xxx
TOKEN_SAM_CITI=token_xxx
